In [20]:
# Dependencies and Setup
import os
import pandas as pd

In [25]:
df = pd.read_csv("output_file.csv")

df.set_index('City', inplace=True)

df=df.drop(['Unnamed: 0','Date'], axis=1)
df.head()

,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Temperature,Wind Speed
City,,,,,,,,
hobart,40,AU,62,-42.88,147.33,55.40,53.60,5.82
ushuaia,75,AR,80,-54.80,-68.30,39.20,39.20,24.16
qui nhon,0,VN,52,13.77,109.23,85.26,85.26,11.61
talnakh,75,RU,92,69.49,88.40,12.20,12.20,29.08
carnarvon,26,AU,62,-24.87,113.63,87.80,87.80,13.87

In [30]:
df.to_html('data.html')