Observations:
1. Smaller schools (student size less than 2,000) seem to perform better. Overall passing rate is in 90%'s whereas schools with more than 3,000 have performed in 70%'s. 
2. Charter schools have performed better than District schools. Size may be a factor here.
3. Per student budget didn't seem to have any bearing on how schools performed overall.

In [1]:
import pandas as pd

In [2]:
# Create reference to the CSV files and import them into a Pandas DataFrame
# Schools
schoolsfile_path = "Resources/schools_complete.csv"
schools_df = pd.read_csv(schoolsfile_path)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Students
studentsfile_path = "Resources/students_complete.csv"
students_df = pd.read_csv(studentsfile_path)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# District Summary
#  * Total Schools
#  * Total Students
#  * Total Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

total_schools = len(schools_df["School ID"])
total_students = len(students_df["Student ID"])
 
total_budget = schools_df["budget"].sum()

average_math_score = students_df["math_score"].mean()
average_reading_score = students_df["reading_score"].mean()

count_passing_math = len(students_df[students_df["math_score"] >= 70])
percent_passing_math = (count_passing_math / total_students) * 100

count_passing_reading = len(students_df[students_df["reading_score"] >= 70])
percent_passing_reading = (count_passing_reading / total_students) * 100

overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

In [5]:
# Place the summary data into a summary DataFrame
district_summary = pd.DataFrame({
  "Total Schools":           [total_schools],
  "Total Students":          [total_students],
  "Total Budget":            [total_budget],
  "Average Math Score":      [average_math_score],
  "Average Reading Score":   [average_reading_score],
  "% Passing Math":          [percent_passing_math],
  "% Passing Reading":       [percent_passing_reading],
  "Overall Passing Rate":    [overall_passing_rate]})

district_summary["Total Students"] =        district_summary["Total Students"].map("{:,.0f}".format)
district_summary["Total Budget"] =          district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] =    district_summary["Average Math Score"].map("{:,.3f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.3f}".format)
district_summary["% Passing Math"] =        district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] =     district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["Overall Passing Rate"] =  district_summary["Overall Passing Rate"].map("{:,.3f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985,81.878,74.98,85.81,80.393

In [6]:
# School Summary
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

merge_data = pd.merge(students_df, schools_df, how="left", on=["school_name"])
group_by_school = merge_data.groupby(['school_name'])

In [7]:
school_type = schools_df.set_index(["school_name"])["type"]

school_students = group_by_school["Student ID"].count()
school_budget = group_by_school["budget"].mean()
per_student_budget = school_budget / school_students

per_student_math_score = group_by_school["math_score"].mean()
per_student_reading_score = group_by_school["reading_score"].mean()

filter_passing_math = merge_data[merge_data["math_score"] >= 70]
count_passing_math = filter_passing_math.groupby(["school_name"]).count()["student_name"]

filter_passing_reading = merge_data[merge_data["reading_score"] >= 70]
count_passing_reading = filter_passing_reading.groupby(["school_name"]).count()["student_name"]

percent_passing_math = (count_passing_math / school_students) * 100
percent_passing_reading = (count_passing_reading / school_students) * 100

overall_passing_rate = (percent_passing_math + percent_passing_reading) /2

In [8]:
school_summary = pd.DataFrame({ "School Type": school_type,
                                "Total Students": school_students,
                                "Total School Budget": school_budget,
                                "Per Student Budget": per_student_budget,
                                "Average Math Score": per_student_math_score,
                                "Average Reading Score": per_student_reading_score, 
                                "% Passing Math": percent_passing_math,
                                "% Passing Reading": percent_passing_reading,
                                "Overall Passing Rate": overall_passing_rate                      
                               })

# Formating the numbers to print
school_summary1 = pd.DataFrame(school_summary)
#school_summary1["Total Students"] =         school_summary1["Total Students"].map("{:,.0f}".format)
school_summary1["Total School Budget"] =    school_summary1["Total School Budget"].map("${:,.2f}".format)
#school_summary1["Per Student Budget"] =     school_summary1["Per Student Budget"].map("{:.2f}".format)
#school_summary1["Average Math Score"] =     school_summary1["Average Math Score"].map("{:,.3f}".format)
#school_summary1["Average Reading Score"] =  school_summary1["Average Reading Score"].map("{:,.3f}".format)
#school_summary1["% Passing Math"] =         school_summary1["% Passing Math"].map("{:,.2f}".format)
#school_summary1["% Passing Reading"] =      school_summary1["% Passing Reading"].map("{:,.2f}".format)
#school_summary1["Overall Passing Rate"] =   school_summary1["Overall Passing Rate"].map("{:,.3f}".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [9]:
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

school_summary_top = school_summary.sort_values("Overall Passing Rate", ascending=False)
school_summary_top.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [10]:
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

school_summary_bottom = school_summary.sort_values("Overall Passing Rate", ascending=True)
school_summary_bottom.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [11]:
# Math Scores by Grade\*\*
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

group_by_school_grade = merge_data.groupby(['school_name','grade'])

In [12]:
average_math_score = group_by_school_grade["math_score"].mean()
grade_math_summary = pd.DataFrame({ "Average Math Score": average_math_score })

grade_math_summary["Average Math Score"] =  grade_math_summary["Average Math Score"].map("{:,.3f}".format)
grade_math_summary

                            Average Math Score
school_name           grade
Bailey High School    10th              76.997
                      11th              77.516
                      12th              76.492
                      9th               77.084
Cabrera High School   10th              83.155
                      11th              82.766
                      12th              83.277
                      9th               83.095
Figueroa High School  10th              76.540
                      11th              76.884
                      12th              77.151
                      9th               76.403
Ford High School      10th              77.672
                      11th              76.918
                      12th              76.180
                      9th               77.361
Griffin High School   10th              84.229
                      11th              83.842
                      12th              83.356
                      9th               82.044
Hernandez High School 10th              77.337
                      11th              77.136
                      12th              77.187
                      9th               77.438
Holden High School    10th              83.430
                      11th              85.000
                      12th              82.855
                      9th               83.787
Huang High School     10th              75.909
                      11th              76.447
                      12th              77.226
                      9th               77.027
Johnson High School   10th              76.691
                      11th              77.492
                      12th              76.863
                      9th               77.188
Pena High School      10th              83.372
                      11th              84.328
                      12th              84.122
                      9th               83.625
Rodriguez High School 10th              76.612
                      11th              76.396
                      12th              77.691
                      9th               76.860
Shelton High School   10th              82.917
                      11th              83.383
                      12th              83.779
                      9th               83.421
Thomas High School    10th              83.088
                      11th              83.499
                      12th              83.497
                      9th               83.590
Wilson High School    10th              83.724
                      11th              83.195
                      12th              83.036
                      9th               83.086
Wright High School    10th              84.010
                      11th              83.837
                      12th              83.645
                      9th               83.265

In [13]:
# Reading Scores by Grade\*\*
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

average_reading_score = group_by_school_grade["reading_score"].mean()
grade_reading_summary = pd.DataFrame({ "Average Reading Score": average_reading_score })

grade_reading_summary["Average Reading Score"] =  grade_reading_summary["Average Reading Score"].map("{:,.3f}".format)
grade_reading_summary

                            Average Reading Score
school_name           grade
Bailey High School    10th                 80.907
                      11th                 80.946
                      12th                 80.912
                      9th                  81.303
Cabrera High School   10th                 84.253
                      11th                 83.788
                      12th                 84.288
                      9th                  83.676
Figueroa High School  10th                 81.409
                      11th                 80.640
                      12th                 81.385
                      9th                  81.199
Ford High School      10th                 81.263
                      11th                 80.404
                      12th                 80.662
                      9th                  80.633
Griffin High School   10th                 83.707
                      11th                 84.288
                      12th                 84.014
                      9th                  83.369
Hernandez High School 10th                 80.660
                      11th                 81.396
                      12th                 80.857
                      9th                  80.867
Holden High School    10th                 83.325
                      11th                 83.816
                      12th                 84.699
                      9th                  83.677
Huang High School     10th                 81.512
                      11th                 81.417
                      12th                 80.306
                      9th                  81.290
Johnson High School   10th                 80.773
                      11th                 80.616
                      12th                 81.228
                      9th                  81.261
Pena High School      10th                 83.612
                      11th                 84.336
                      12th                 84.591
                      9th                  83.807
Rodriguez High School 10th                 80.630
                      11th                 80.865
                      12th                 80.376
                      9th                  80.993
Shelton High School   10th                 83.442
                      11th                 84.374
                      12th                 82.782
                      9th                  84.123
Thomas High School    10th                 84.254
                      11th                 83.586
                      12th                 83.831
                      9th                  83.729
Wilson High School    10th                 84.021
                      11th                 83.765
                      12th                 84.318
                      9th                  83.940
Wright High School    10th                 83.813
                      11th                 84.156
                      12th                 84.073
                      9th                  83.833

In [14]:
############### Scores by School Spending (Need rework from here)

#  * Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#    Use 4 reasonable bins to group school spending. Include in the table each of the following:
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)


# Create the bins in which Data will be held
bins = [0.0, 599.9, 624.9, 649.9, 674.9]

# Create the names for the each bin
group_names = ["Below 600", "600-625", "625-650", "650-675"]

school_summary["Spending Group"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_names)

school_summary[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate", "Per Student Budget", "Spending Group"]]


group_spending_group = school_summary.groupby("Spending Group")

group_spending_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Group,,,,,
Below 600,83.455399,83.933814,93.460096,96.610877,95.035486
600-625,83.599686,83.885211,94.230858,95.900287,95.065572
625-650,79.079225,81.891436,75.668212,86.106569,80.887391
650-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [17]:
# Scores by School Size
#  * Create a table that breaks down schools based on numbr of students. 
#    Use 3 reasonable bins to group school sizes. Include in the table each of the following:
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

# Create the bins in which Data will be held
bins = [0, 2000, 3000, 5000]

# Create the names for the each bin
group_names = ["Small - Below 2000", "Medium 2000-3000", "Large - Over 3000"]

school_summary["Size Group"] = pd.cut(school_summary["Total Students"], bins, labels=group_names)
school_summary[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate", "Total Students", "Size Group"]]

group_size_group = school_summary.groupby("Size Group")

group_size_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Size Group,,,,,
Small - Below 2000,83.502373,83.883125,93.585560,96.593182,95.089371
Medium 2000-3000,78.429493,81.769122,73.462428,84.473577,78.968003
Large - Over 3000,77.063340,80.919864,66.464293,81.059691,73.761992

In [16]:
### Scores by School Type

# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

group_type = school_summary.groupby("School Type")

group_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757