Observations:
1. Smaller schools (student size less than 2,000) seem to perform better. Overall passing rate is in 90%'s whereas schools with more than 3,000 have performed in 70%'s. 
2. Charter schools have performed better than District schools. Size may be a factor here.
3. Per student budget didn't seem to have any bearing on how schools performed overall. 
4. A huge difference in Performance in Math between Charter and District Schools (~94% vs ~67%).

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# District Summary
#  * Total Schools
#  * Total Students
#  * Total Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

total_schools = len(school_data["School ID"])
total_students = len(student_data["Student ID"])
 
total_budget = school_data["budget"].sum()

average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()

count_passing_math = len(student_data[student_data["math_score"] >= 70])
percent_passing_math = (count_passing_math / total_students) * 100

count_passing_reading = len(student_data[student_data["reading_score"] >= 70])
percent_passing_reading = (count_passing_reading / total_students) * 100

overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

In [3]:
# Place the summary data into a summary DataFrame
district_summary = pd.DataFrame({
  "Total Schools":           [total_schools],
  "Total Students":          [total_students],
  "Total Budget":            [total_budget],
  "Average Math Score":      [average_math_score],
  "Average Reading Score":   [average_reading_score],
  "% Passing Math":          [percent_passing_math],
  "% Passing Reading":       [percent_passing_reading],
  "Overall Passing Rate":    [overall_passing_rate]})

district_summary["Total Students"] =        district_summary["Total Students"].map("{:,.0f}".format)
district_summary["Total Budget"] =          district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [4]:
# School Summary

group_by_school = school_data_complete.groupby(['school_name'])

In [5]:
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

school_type = school_data.set_index(["school_name"])["type"]
school_students = group_by_school["Student ID"].count()
school_budget = group_by_school["budget"].mean()
per_student_budget = school_budget / school_students

per_student_math_score = group_by_school["math_score"].mean()
per_student_reading_score = group_by_school["reading_score"].mean()

filter_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
count_passing_math = filter_passing_math.groupby(["school_name"]).count()["student_name"]

filter_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
count_passing_reading = filter_passing_reading.groupby(["school_name"]).count()["student_name"]

percent_passing_math = (count_passing_math / school_students) * 100
percent_passing_reading = (count_passing_reading / school_students) * 100

overall_passing_rate = (percent_passing_math + percent_passing_reading) /2

In [6]:
school_summary = pd.DataFrame({ "School Type": school_type,
                                "Total Students": school_students,
                                "Total School Budget": school_budget,
                                "Per Student Budget": per_student_budget,
                                "Average Math Score": per_student_math_score,
                                "Average Reading Score": per_student_reading_score, 
                                "% Passing Math": percent_passing_math,
                                "% Passing Reading": percent_passing_reading,
                                "Overall Passing Rate": overall_passing_rate                      
                               })

# Formating the numbers to print
school_summary["Total School Budget"] =    school_summary["Total School Budget"].map("${:,.2f}".format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [7]:
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

school_summary_top = school_summary.sort_values("Overall Passing Rate", ascending=False)
school_summary_top.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [8]:
# Bottom Performing Schools (By Passing Rate)

# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

school_summary_bottom = school_summary.sort_values("Overall Passing Rate", ascending=True)
school_summary_bottom.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [9]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Create a pandas series for each grade. Hint: use a conditional statement.
filter_grade9 = school_data_complete[school_data_complete["grade"] == '9th']
filter_grade10 = school_data_complete[school_data_complete["grade"] == '10th']
filter_grade11 = school_data_complete[school_data_complete["grade"] == '11th']
filter_grade12 = school_data_complete[school_data_complete["grade"] == '12th']

#Group each series by school
group_grade_9th  = filter_grade9.groupby(['school_name'])
group_grade_10th = filter_grade10.groupby(['school_name'])
group_grade_11th = filter_grade11.groupby(['school_name'])
group_grade_12th = filter_grade12.groupby(['school_name'])

In [10]:
grade9_math  = group_grade_9th["math_score"].mean()
grade10_math = group_grade_10th["math_score"].mean()
grade11_math = group_grade_11th["math_score"].mean()
grade12_math = group_grade_12th["math_score"].mean()

#Combine the series into a dataframe
math_gradewise = pd.DataFrame({ "Grade-9th Math": grade9_math, 
                                   "Grade-10th Math": grade10_math,
                                   "Grade-11th Math": grade11_math,
                                   "Grade-12th Math": grade12_math
                                 })

#Optional: give the displayed data cleaner formatting
math_gradewise

,Grade-9th Math,Grade-10th Math,Grade-11th Math,Grade-12th Math
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [11]:
grade9_reading  = group_grade_9th["reading_score"].mean()
grade10_reading = group_grade_10th["reading_score"].mean()
grade11_reading = group_grade_11th["reading_score"].mean()
grade12_reading = group_grade_12th["reading_score"].mean()

#Combine the series into a dataframe
reading_gradewise = pd.DataFrame({ "Grade-9th Reading": grade9_reading, 
                                   "Grade-10th Reading": grade10_reading,
                                   "Grade-11th Reading": grade11_reading,
                                   "Grade-12th Reading": grade12_reading
                                 })

#Optional: give the displayed data cleaner formatting
reading_gradewise

,Grade-9th Reading,Grade-10th Reading,Grade-11th Reading,Grade-12th Reading
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [12]:
# Scores by School Spending 

#  * Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#    Use 4 reasonable bins to group school spending. Include in the table each of the following:
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)


# Create the bins in which Data will be held
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_summary["Spending Group"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=group_names)

school_summary[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate", "Per Student Budget", "Spending Group"]]


group_spending_group = school_summary.groupby("Spending Group")

group_spending_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Group,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [13]:
# Scores by School Size
#  * Create a table that breaks down schools based on numbr of students. 
#    Use 3 reasonable bins to group school sizes. Include in the table each of the following:
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

# Create the bins in which Data will be held
bins = [0, 2000, 3000, 5000]

# Create the names for the each bin
group_names = ["Small - Below 2000", "Medium 2000-3000", "Large - Over 3000"]

school_summary["Size Group"] = pd.cut(school_summary["Total Students"], bins, labels=group_names)
school_summary[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate", "Total Students", "Size Group"]]

group_size_group = school_summary.groupby("Size Group")

group_size_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Size Group,,,,,
Small - Below 2000,83.502373,83.883125,93.585560,96.593182,95.089371
Medium 2000-3000,78.429493,81.769122,73.462428,84.473577,78.968003
Large - Over 3000,77.063340,80.919864,66.464293,81.059691,73.761992

In [14]:
### Scores by School Type

# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

group_type = school_summary.groupby("School Type")

group_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757